.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quiz {
    width: 90vw;
    max-width: var(--max-width);
    margin: 4rem auto;
    background: var(--clr-white);
    border-radius: var(--radius);
    padding: 3rem;
  }
  .correctAnswers {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: right;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    color: var(--clr-green-dark);
  }
  .container h2 {
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1.5;
    text-transform: none;
  }
  .modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: var(--transition);
    z-index: -1;
  }

  
.answerBtn {
    display: block;
    width: 100%;
    margin: 0.75rem auto;
    background: var(--clr-primary-7);
    border-radius: var(--radius);
    border-color: transparent;
    color: var(--clr-black);
    letter-spacing: var(--spacing);
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 0;
    transition: var(--transition);
  }